<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addNewMemo()">
    <ion-icon name="create-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ng-container *ngIf="dbService.memos$ | async as memos; else loading">
  <ng-container *ngIf="memos && memos.length > 0; else noNote">
    <div class='list-wrapper'>
      <ion-list *ngFor="let memo of memos">
        <ion-item-sliding>
          <ion-item button routerLink= "/folder/memo-list/{{memo.id}}" mode='ios' detail="false">
            <ion-icon *ngIf="memo.pinned === 'yes'" name="bookmark" color="primary"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h2>{{memo?.title ? memo?.title : 'No title'}}</h2>
              <p>{{memo?.content | slice:0:90}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteMemo(memo.id)" mode='ios'>
              <ion-icon slot="icon-only" name="trash" color="light"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ng-container>
  <ng-template #noNote>
    <div class="no-note">
      <ion-icon name="file-tray-outline" color="primary"></ion-icon>
    </div>
  </ng-template>
</ng-container>
<ng-template #loading><ion-spinner></ion-spinner></ng-template>



<!-- <div class='list-wrapper'>
  <ion-list *ngFor="let memo of dummyMemos" class="memo-body">
    <ion-item button routerLink="/folder/memo-list/{{memo.id}}">
      <ion-icon name="bookmark" color="primary"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{memo?.title ? memo?.title : 'No title'}}</h2>
        <p>{{memo?.content | slice:0:100}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div> -->



<form [formGroup]="noteForm">
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="closeModal()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="toggleTagsVisibility()">
                <ion-icon name="pricetag-outline" color="primary"></ion-icon>
              </ion-button>
              <ion-button (click)="toggleMemoPin()">
                <ion-icon [name]="pinned ? 'bookmark' : 'bookmark-outline'" color="primary"></ion-icon>
              </ion-button>
              <ion-button (click)="submitMemo()" [disabled]="!noteForm.valid" color="primary">
                <ion-icon name="save-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class='tags-display'>
            <ng-container *ngIf="showAllTags; else currentTag">
              <ion-chip *ngFor="let tag of defaultTags" color="primary" [outline]="true" class="no-ripple"
                (click)="setMemoTag(tag)">
                <ion-label>{{tag}}</ion-label>
              </ion-chip>
              <ion-chip color="danger" [outline]="true" class="no-ripple" (click)="setMemoTag('none')">
                <ion-label>Untag</ion-label>
              </ion-chip>
            </ng-container>
            <ng-template #currentTag>
              <ion-chip *ngIf="newMemoTag !== 'none'" color="primary" class="no-ripple">
                <ion-label>{{newMemoTag}}</ion-label>
              </ion-chip>
            </ng-template>
          </div>
          <ion-textarea placeholder="Title" autoGrow="true" class="note-title" formControlName="title"></ion-textarea>
          <ion-textarea placeholder=". . ." autoGrow="true" formControlName="content"></ion-textarea>
        </ion-content>
    </ng-template>
  </ion-modal>
</form>


