ion-menu ion-content {
  --background: #fff;
}

ion-menu::part(backdrop) {
  background-color: rgba(79, 154, 110, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu ion-list-header {
  margin-bottom: 8px;
  color: var(--zen-green-primary);
}

ion-menu ion-note {
  display: block;
  margin-bottom: 30px;
  color: var(--zen-green-primary);
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#menu-list {
  border-bottom: 1px solid var(--zen-green-secondary, #d7d8da);
}

ion-menu.md ion-list#menu-list ion-list-header {
  font-size: 32px;
  font-weight: 600;
  min-height: 20px;
}


ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: var(--zen-dark);
}


ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}


ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: var(--zen-dark);
}

/* ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
} */

ion-menu.ios ion-list-header {
  padding-left: 16px;
  //padding-right: 16px;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.flex-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
